<mat-card class="mat-card">
    <h1>Your Profile Details</h1>

    
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">


                <div class="container text-center">
                    <img src="https://as2.ftcdn.net/v2/jpg/00/64/67/63/1000_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                        alt="" class="profile-img">
                </div>


                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <div class="container text-center">
                            <h2 style="margin-top: 10px;">XYZ</h2>
                        </div>
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>xyz</td>
                            </tr>
                            <tr>
                                <td>UserId</td>
                                <td>EXAM012</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>9876543210</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>ADMIN</td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="btn">
        <button mat-raised-button color="primary">UPDATE</button>
        <button style="margin: 10px;" mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>